<div class=" bg-danger sticky-top">
    <ul class="nav  justify-content-center  nav-justified ">
        <li class="nav-item ">
          <a class="nav-link active text-light" href="/">  <%= nav %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/servicios">Servicios</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-dark disabled " href="/fdkjf">404</a>
        </li>
       
</div>