
<!------section para inicio-->
<section>
   <nav class="container">
       <nav class="row">
       <nav class=" col-12 col-md-6">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ea optio soluta deleniti. Laboriosam aperiam ipsam molestiae. Ipsa, reprehenderit. Quis nesciunt neque commodi dicta dignissimos maiores mollitia ipsa? Laborum, sequi?
           Autem molestias minima cumque obcaecati molestiae voluptates tempore quod fugiat exercitationem nam neque at a, facilis sint nostrum eligendi asperiores eum nesciunt enim sunt mollitia architecto itaque voluptate unde. Nulla.
           Quibusdam pariatur eveniet esse earum quaerat? Veniam quam sapiente quia suscipit, quae explicabo saepe consequuntur repellendus odio voluptates. Harum quo dolorum ipsum? Ipsa adipisci repudiandae, blanditiis explicabo vel minus perferendis.
           Similique quos aut nobis quidem libero quod molestiae veniam nisi laudantium aliquam minima accusantium, ipsa tenetur fugit, necessitatibus blanditiis optio, voluptatum quae magnam atque accusamus! Modi illo vero culpa non!
           Tempore deserunt veniam eum veritatis iure, quis corrupti, perferendis laborum sapiente aliquid similique hic pariatur incidunt consectetur, alias tempora! Quibusdam ea in delectus molestias dolor ex totam laborum nobis quidem?
           Numquam iure sapiente similique, error rerum optio. Sequi officiis cumque, quod nulla consequatur placeat aperiam id, repellendus est animi rem eligendi sapiente distinctio doloremque atque ullam. Velit perspiciatis adipisci explicabo?
           Voluptas sit quod suscipit illum repudiandae, minima impedit non mollitia odit architecto fugiat nam pariatur vitae ex dolorem. Ratione dolorem iusto reiciendis possimus harum consequatur itaque, incidunt quam autem voluptates.
           Fugit rerum, veritatis quis ullam dolorum nemo distinctio quae, deleniti, necessitatibus amet sed illum? Vitae, veritatis autem aperiam odio, ea nemo animi minima in similique rerum molestias, ipsa laboriosam dicta.
           Hic deserunt eos enim architecto perspiciatis modi nostrum doloribus laudantium ex quo. Explicabo doloribus vero in iure commodi cum repudiandae ea cupiditate provident. Quia, sint? Enim minima voluptas voluptatum reiciendis?
           Earum atque in pariatur molestiae voluptates rem eveniet tempora! Consequuntur architecto voluptas voluptates rem natus quas ut pariatur, dicta aperiam molestiae aspernatur, quibusdam consectetur ullam doloribus porro doloremque quae? Excepturi.</p>
       </nav>
       <nav class=" col-12 col-md-6">
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, voluptates debitis quaerat laudantium illum atque recusandae labore, dolorem, cumque dignissimos aperiam. Rerum pariatur quae odit quaerat id perferendis unde facilis.
           Iste, culpa quae. Odit quo dolorum illo minus distinctio sed inventore dolore numquam odio, ad ipsum dicta. Omnis, id quam autem sit, nostrum ipsum, odit fugiat quas ab molestias facere.
           Nam, minus! Accusantium id vitae ipsa, fugiat incidunt et quia libero omnis dolorem dolorum cumque? Nihil dolor assumenda odit sit sint consequuntur porro aperiam error molestiae ab aliquid, sapiente reiciendis.
           Optio quod corrupti dolorum ducimus iste veniam. Est optio quaerat doloremque quasi eius dolorem numquam exercitationem eligendi assumenda iste nam iusto mollitia, esse accusantium vel distinctio amet asperiores deleniti! Ullam.
           Perspiciatis magni accusantium eos, cupiditate quas et velit, sint ducimus est ea ut excepturi cumque accusamus, corporis quam itaque minus laudantium voluptatibus distinctio quisquam modi sed dicta repudiandae? Voluptates, suscipit.
           Doloremque, maiores facere et ipsam at aliquam cupiditate. Voluptatem, quae. Debitis delectus assumenda praesentium voluptates, odio tempore exercitationem architecto quos laudantium porro repellat, nesciunt commodi perspiciatis voluptatum quasi, tempora recusandae.
           Alias ea quisquam iure, nisi animi molestiae cupiditate provident magnam atque quos perspiciatis explicabo dolore magni non natus? Aliquam, libero neque eum assumenda quo quam architecto veritatis nobis dolore deleniti.
           Laudantium aperiam excepturi alias nostrum vitae fuga magnam, velit harum enim est quasi odio. Corrupti totam neque, reprehenderit explicabo nobis delectus soluta eligendi quis at, ipsam doloribus. Nisi, veritatis non?
           Quos ipsa error blanditiis officiis explicabo deserunt nobis voluptates molestias. Dolore possimus expedita deleniti ea? In, nemo, eligendi voluptates aliquam iure itaque molestias nobis vero at veniam suscipit repudiandae accusamus.
           Similique ab quod consequatur quibusdam eligendi itaque, officia autem earum quae maiores iste accusamus illo reiciendis ipsum. Esse, nisi dolor eos officia delectus velit voluptates, necessitatibus illo nam laborum fuga.</p>
       </nav>
    </nav>
   </nav>
</section>